body {
  background-image: url("img/fonditofinal.png");
  background-repeat: no-repeat;
  background-size: 105%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: bold;
  text-align: center;
}

h1{
  color: white;
}
h2{
  text-align: left;
}

.boton1 {
  position: relative;
  top: 110px;
  right: 50px;
  display: inline-block;
  color: white;
  font-size: 20px;
}

.boton1 .info {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center; 
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.boton1 .info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.boton1:hover .info {
  visibility: visible;
}

.boton2 {
  position: relative;
  top: 110px;
  left: 180px;
  display: inline-block;
  color: red;
  font-size: 20px;
}


.boton2 .info {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.boton2 .info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.boton2:hover .info {
  visibility: visible;
}

.boton3 {
  position: relative;
  top: 200px;
  left: 250px;
  display: inline-block;
  color: blue;
  font-size: 20px;
}


.boton3 .info {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.boton3 .info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.boton3:hover .info {
  visibility: visible;
}

.boton4 {
  position: relative;
  top: 110px;
  left: -350px;
  display: inline-block;
  color: yellow;
  font-size: 20px;
}


.boton4 .info {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.boton4 .info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.boton4:hover .info {
  visibility: visible;
}
