*{
padding:0;
margin: 0;
box-sizing: border-box;
}

body{
font-family: 'Quicksand', sans-serif;
}


header{
  width: 100%;
  height: 50px;
  background: rgb(82, 82, 230);
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 100%;
}

.container{
  width: 98%; 
  margin: auto;
}

/*estilo para el menu en mobile*/
.menu-bar{
  cursor: pointer;


}

header label{
float: right; 
font-size: 28px;
margin: 6px 0;  
}

header .container{
display: table;
}

h1{
  float: left;
}

.menu{
position: absolute;
top: 0;
left: 0; 
width: 100%;
height: 100vh;
background:gray; 
}

.menu a {
display:block;
color: gray; 
height: 50px; 
text-decoration: none; 
padding: 15px; 
border: bottom 1px solid;
}



/*.showPrincipal {
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-family: 'Karla', sans-serif;
  text-align: center;
  font-size: 2vh;
  padding-top: -53%;*/

}

