h1 {
  color: darkslategray;
  font-family: 'Sofia';
  font-size: 32px;
  };

.wp {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  };

.boton {
  text-decoration: none;
  font-weight: 600px;
  font-size: 20px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  };

header{
  width: 100%;
  height: 50px;
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 100%;
}

.container{
  width: 98%; 
  margin: auto;
}

/*estilo para el menu en mobile*/
.menu-bar{
  cursor: pointer;


}

header label{
float: right; 
font-size: 28px;
margin: 6px 0;  
}

header .container{
display: table;
}

/*.showPrincipal {
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-family: 'Asap';
  text-align: center;
  font-size: 2vh;
  padding-top: -53%;
};

#show-content {
  padding-bottom: 50%;
}

.container{
  width: 98%; 
  margin: auto;
}
  padding-top: -53%;*/

