h1 {
  color: darkslategray;
  font-family: 'Sofia';
  font-size: 32px;
  };

.wp {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  };

.boton {
  text-decoration: none;
  font-weight: 600px;
  font-size: 20px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  };

/*.showPrincipal {
  background-color: white;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-family: 'Asap';
  text-align: center;
  font-size: 2vh;
  padding-top: -53%;
};

#show-content {
  padding-bottom: 50%;
}

.container{
  width: 98%; 
  margin: auto;
}